@model PokedexMalHecho.Models.Pokemones

@{
    ViewData["Title"] = "Eliminación Pokemon";
}

<h1>Eliminación Pokemon</h1>
<h3>¿Esta seguro que quiere eliminar este pokemon?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-2">
            Región
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegionNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            Tipo 1
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo1Navigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            Tipo 2
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo2Navigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            Ataque 1
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ataque1)
        </dd>
        <dt class="col-sm-2">
           Ataque 2
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ataque2)
        </dd>
        <dt class="col-sm-2">
            Ataque 3
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ataque3)
        </dd>
        <dt class="col-sm-2">
            Ataque 4
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ataque4)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a Listado</a>
    </form>
</div>
